<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


    <!--bean scopes singleton prototype  -->
    <bean id="userService" class="com.peach.service.UserService" scope="prototype">
        <property name="userDAO" ref="u"/>
    </bean>
    <bean id="u" class="com.peach.dao.impl.UserDAOImpl"/>

</beans>