<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


    <!--bean scopes singleton prototype
    <bean id="userService" class="com.peach.service.UserService" scope="prototype">-->

    <bean id="userService" class="com.peach.service.UserService" scope="prototype" autowire="byType">
        <!--<property name="userDAO" ref="userDAO1"/>-->

    </bean>
<!--
    <bean id="userDAO" class="com.peach.dao.impl.UserDAOImpl">
        <property name="userId" value ="1"></property>
    </bean>-->

    <bean id="userDAO2" class="com.peach.dao.impl.UserDAOImpl">
        <property name="userId" value="2"></property>

    </bean>


</beans>